SoapUtility/Service References/AttendanceServices/AttendanceServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:i0="http://tempuri.org" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AttendanceServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_EmpTimeCardService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org" location="https://acmcuat.sandbox.operations.dynamics.com/soap/services/AttendanceServices?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_EmpTimeCardService" type="i0:EmpTimeCardService">
    <wsp:PolicyReference URI="#BasicHttpBinding_EmpTimeCardService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="applyLeaveTransaction">
      <soap:operation soapAction="http://tempuri.org/EmpTimeCardService/applyLeaveTransaction" style="document" />
      <wsdl:input name="applyLeaveTransaction">
        <soap:header message="i0:applyLeaveTransaction_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="applyLeaveTransactionResponse">
        <soap:header message="i0:applyLeaveTransactionResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateAttendance">
      <soap:operation soapAction="http://tempuri.org/EmpTimeCardService/CreateAttendance" style="document" />
      <wsdl:input name="CreateAttendance">
        <soap:header message="i0:CreateAttendance_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateAttendanceResponse">
        <soap:header message="i0:CreateAttendanceResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLastMachineLogIds">
      <soap:operation soapAction="http://tempuri.org/EmpTimeCardService/GetLastMachineLogIds" style="document" />
      <wsdl:input name="GetLastMachineLogIds">
        <soap:header message="i0:GetLastMachineLogIds_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetLastMachineLogIdsResponse">
        <soap:header message="i0:GetLastMachineLogIdsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLastSwipeId">
      <soap:operation soapAction="http://tempuri.org/EmpTimeCardService/getLastSwipeId" style="document" />
      <wsdl:input name="getLastSwipeId">
        <soap:header message="i0:getLastSwipeId_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLastSwipeIdResponse">
        <soap:header message="i0:getLastSwipeIdResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveRawAttendance">
      <soap:operation soapAction="http://tempuri.org/EmpTimeCardService/SaveRawAttendance" style="document" />
      <wsdl:input name="SaveRawAttendance">
        <soap:header message="i0:SaveRawAttendance_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveRawAttendanceResponse">
        <soap:header message="i0:SaveRawAttendanceResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WorkerInOutRegistration">
      <soap:operation soapAction="http://tempuri.org/EmpTimeCardService/WorkerInOutRegistration" style="document" />
      <wsdl:input name="WorkerInOutRegistration">
        <soap:header message="i0:WorkerInOutRegistration_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="WorkerInOutRegistrationResponse">
        <soap:header message="i0:WorkerInOutRegistrationResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WorkerInOutRegistrationForDay">
      <soap:operation soapAction="http://tempuri.org/EmpTimeCardService/WorkerInOutRegistrationForDay" style="document" />
      <wsdl:input name="WorkerInOutRegistrationForDay">
        <soap:header message="i0:WorkerInOutRegistrationForDay_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="WorkerInOutRegistrationForDayResponse">
        <soap:header message="i0:WorkerInOutRegistrationForDayResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AttendanceServices">
    <wsdl:port name="BasicHttpBinding_EmpTimeCardService" binding="tns:BasicHttpBinding_EmpTimeCardService">
      <soap:address location="https://acmcuat.sandbox.operations.dynamics.com/soap/services/AttendanceServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>