BAL/Service References/AttendanceServices/AttendanceServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AttendanceServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_EmpTimeCardService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org" location="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_EmpTimeCardService" type="i0:EmpTimeCardService">
    <wsp:PolicyReference URI="#NetTcpBinding_EmpTimeCardService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="WorkerInOutRegistration">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/WorkerInOutRegistration" style="document" />
      <wsdl:input name="EmpTimeCardServiceWorkerInOutRegistrationRequest">
        <soap12:header message="i0:EmpTimeCardServiceWorkerInOutRegistrationRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceWorkerInOutRegistrationResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/find" style="document" />
      <wsdl:input name="EmpTimeCardServiceFindRequest">
        <soap12:header message="i0:EmpTimeCardServiceFindRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceFindResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/update" style="document" />
      <wsdl:input name="EmpTimeCardServiceUpdateRequest">
        <soap12:header message="i0:EmpTimeCardServiceUpdateRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceUpdateResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="applyLeaveTransaction">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/applyLeaveTransaction" style="document" />
      <wsdl:input name="EmpTimeCardServiceApplyLeaveTransactionRequest">
        <soap12:header message="i0:EmpTimeCardServiceApplyLeaveTransactionRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceApplyLeaveTransactionResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/create" style="document" />
      <wsdl:input name="EmpTimeCardServiceCreateRequest">
        <soap12:header message="i0:EmpTimeCardServiceCreateRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceCreateResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateAttendance">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/CreateAttendance" style="document" />
      <wsdl:input name="EmpTimeCardServiceCreateAttendanceRequest">
        <soap12:header message="i0:EmpTimeCardServiceCreateAttendanceRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceCreateAttendanceResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLastMachineLogIds">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/GetLastMachineLogIds" style="document" />
      <wsdl:input name="EmpTimeCardServiceGetLastMachineLogIdsRequest">
        <soap12:header message="i0:EmpTimeCardServiceGetLastMachineLogIdsRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceGetLastMachineLogIdsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WorkerInOutRegistrationForDay">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/WorkerInOutRegistrationForDay" style="document" />
      <wsdl:input name="EmpTimeCardServiceWorkerInOutRegistrationForDayRequest">
        <soap12:header message="i0:EmpTimeCardServiceWorkerInOutRegistrationForDayRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceWorkerInOutRegistrationForDayResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/read" style="document" />
      <wsdl:input name="EmpTimeCardServiceReadRequest">
        <soap12:header message="i0:EmpTimeCardServiceReadRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceReadResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/delete" style="document" />
      <wsdl:input name="EmpTimeCardServiceDeleteRequest">
        <soap12:header message="i0:EmpTimeCardServiceDeleteRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceDeleteResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveRawAttendance">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/SaveRawAttendance" style="document" />
      <wsdl:input name="EmpTimeCardServiceSaveRawAttendanceRequest">
        <soap12:header message="i0:EmpTimeCardServiceSaveRawAttendanceRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceSaveRawAttendanceResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLastSwipeId">
      <soap12:operation soapAction="http://tempuri.org/EmpTimeCardService/getLastSwipeId" style="document" />
      <wsdl:input name="EmpTimeCardServiceGetLastSwipeIdRequest">
        <soap12:header message="i0:EmpTimeCardServiceGetLastSwipeIdRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmpTimeCardServiceGetLastSwipeIdResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AttendanceServices">
    <wsdl:port name="NetTcpBinding_EmpTimeCardService" binding="tns:NetTcpBinding_EmpTimeCardService">
      <soap12:address location="net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/AttendanceServices" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/AttendanceServices</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ax2@kabholding.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>