BAL/Service References/AttendanceServices/AttendanceServices11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/EmpTimeCard" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" name="EntityKeyList" type="q1:EntityKeyList" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" name="QueryCriteria" type="q2:QueryCriteria" />
  <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2008/01/documents/EmpTimeCard" name="AxdEmpTimeCard" type="q3:AxdEmpTimeCard" />
</xs:schema>