BAL/Service References/AttendanceServices/AttendanceServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd9" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd12" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd3" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/EmpTimeCard" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd11" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EmpTimeCardServiceWorkerInOutRegistrationRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceWorkerInOutRegistrationRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceWorkerInOutRegistrationRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceWorkerInOutRegistrationResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceWorkerInOutRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_WorkerInOutRegistration_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceFindRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceFindRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceFindResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceUpdateRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceUpdateResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_update_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceApplyLeaveTransactionRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceApplyLeaveTransactionRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceApplyLeaveTransactionRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceApplyLeaveTransactionResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceApplyLeaveTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_applyLeaveTransaction_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceCreateRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceCreateAttendanceRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceCreateAttendanceRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceCreateAttendanceRequest_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q11:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceCreateAttendanceResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceCreateAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_CreateAttendance_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q12:AifFault" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceGetLastMachineLogIdsRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceGetLastMachineLogIdsRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceGetLastMachineLogIdsRequest_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceGetLastMachineLogIdsResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceGetLastMachineLogIdsResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_GetLastMachineLogIds_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q14:AifFault" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceWorkerInOutRegistrationForDayRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceWorkerInOutRegistrationForDayRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceWorkerInOutRegistrationForDayRequest_Headers">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q15:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceWorkerInOutRegistrationForDayResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceWorkerInOutRegistrationForDayResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_WorkerInOutRegistrationForDay_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q16:AifFault" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceReadRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceReadRequest_Headers">
    <wsdl:part xmlns:q17="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q17:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceReadResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q18:AifFault" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceDeleteRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceDeleteRequest_Headers">
    <wsdl:part xmlns:q19="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q19:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceDeleteResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_delete_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q20:AifFault" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceSaveRawAttendanceRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceSaveRawAttendanceRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceSaveRawAttendanceRequest_Headers">
    <wsdl:part xmlns:q21="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q21:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceSaveRawAttendanceResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceSaveRawAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_SaveRawAttendance_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q22:AifFault" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceGetLastSwipeIdRequest">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceGetLastSwipeIdRequest" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceGetLastSwipeIdRequest_Headers">
    <wsdl:part xmlns:q23="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q23:CallContext" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardServiceGetLastSwipeIdResponse">
    <wsdl:part name="parameters" element="tns:EmpTimeCardServiceGetLastSwipeIdResponse" />
  </wsdl:message>
  <wsdl:message name="EmpTimeCardService_getLastSwipeId_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q24:AifFault" />
  </wsdl:message>
  <wsdl:portType name="EmpTimeCardService">
    <wsdl:operation name="WorkerInOutRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/WorkerInOutRegistration" name="EmpTimeCardServiceWorkerInOutRegistrationRequest" message="tns:EmpTimeCardServiceWorkerInOutRegistrationRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/WorkerInOutRegistrationResponse" name="EmpTimeCardServiceWorkerInOutRegistrationResponse" message="tns:EmpTimeCardServiceWorkerInOutRegistrationResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/WorkerInOutRegistrationAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_WorkerInOutRegistration_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/find" name="EmpTimeCardServiceFindRequest" message="tns:EmpTimeCardServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/findResponse" name="EmpTimeCardServiceFindResponse" message="tns:EmpTimeCardServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/findAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/update" name="EmpTimeCardServiceUpdateRequest" message="tns:EmpTimeCardServiceUpdateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/updateResponse" name="EmpTimeCardServiceUpdateResponse" message="tns:EmpTimeCardServiceUpdateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/updateAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_update_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="applyLeaveTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/applyLeaveTransaction" name="EmpTimeCardServiceApplyLeaveTransactionRequest" message="tns:EmpTimeCardServiceApplyLeaveTransactionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/applyLeaveTransactionResponse" name="EmpTimeCardServiceApplyLeaveTransactionResponse" message="tns:EmpTimeCardServiceApplyLeaveTransactionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/applyLeaveTransactionAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_applyLeaveTransaction_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/create" name="EmpTimeCardServiceCreateRequest" message="tns:EmpTimeCardServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/createResponse" name="EmpTimeCardServiceCreateResponse" message="tns:EmpTimeCardServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/createAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAttendance">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/CreateAttendance" name="EmpTimeCardServiceCreateAttendanceRequest" message="tns:EmpTimeCardServiceCreateAttendanceRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/CreateAttendanceResponse" name="EmpTimeCardServiceCreateAttendanceResponse" message="tns:EmpTimeCardServiceCreateAttendanceResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/CreateAttendanceAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_CreateAttendance_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastMachineLogIds">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/GetLastMachineLogIds" name="EmpTimeCardServiceGetLastMachineLogIdsRequest" message="tns:EmpTimeCardServiceGetLastMachineLogIdsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/GetLastMachineLogIdsResponse" name="EmpTimeCardServiceGetLastMachineLogIdsResponse" message="tns:EmpTimeCardServiceGetLastMachineLogIdsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/GetLastMachineLogIdsAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_GetLastMachineLogIds_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="WorkerInOutRegistrationForDay">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/WorkerInOutRegistrationForDay" name="EmpTimeCardServiceWorkerInOutRegistrationForDayRequest" message="tns:EmpTimeCardServiceWorkerInOutRegistrationForDayRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/WorkerInOutRegistrationForDayResponse" name="EmpTimeCardServiceWorkerInOutRegistrationForDayResponse" message="tns:EmpTimeCardServiceWorkerInOutRegistrationForDayResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/WorkerInOutRegistrationForDayAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_WorkerInOutRegistrationForDay_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/read" name="EmpTimeCardServiceReadRequest" message="tns:EmpTimeCardServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/readResponse" name="EmpTimeCardServiceReadResponse" message="tns:EmpTimeCardServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/readAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/delete" name="EmpTimeCardServiceDeleteRequest" message="tns:EmpTimeCardServiceDeleteRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/deleteResponse" name="EmpTimeCardServiceDeleteResponse" message="tns:EmpTimeCardServiceDeleteResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/deleteAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_delete_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveRawAttendance">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/SaveRawAttendance" name="EmpTimeCardServiceSaveRawAttendanceRequest" message="tns:EmpTimeCardServiceSaveRawAttendanceRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/SaveRawAttendanceResponse" name="EmpTimeCardServiceSaveRawAttendanceResponse" message="tns:EmpTimeCardServiceSaveRawAttendanceResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/SaveRawAttendanceAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_SaveRawAttendance_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastSwipeId">
      <wsdl:input wsaw:Action="http://tempuri.org/EmpTimeCardService/getLastSwipeId" name="EmpTimeCardServiceGetLastSwipeIdRequest" message="tns:EmpTimeCardServiceGetLastSwipeIdRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmpTimeCardService/getLastSwipeIdResponse" name="EmpTimeCardServiceGetLastSwipeIdResponse" message="tns:EmpTimeCardServiceGetLastSwipeIdResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmpTimeCardService/getLastSwipeIdAifFaultFault" name="AifFaultFault" message="tns:EmpTimeCardService_getLastSwipeId_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>