BAL/Service References/AttendanceServices/AttendanceServices5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/EmpTimeCard" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/EmpTimeCard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="EmpTimeCard" type="tns:AxdEmpTimeCard" />
  <xs:complexType name="AxdEmpTimeCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeCard" type="tns:AxdEntity_TimeCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_TimeCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeginCardTime" nillable="true" type="st:AxdType_DateTime" />
      <xs:element minOccurs="0" name="CardId" nillable="true" type="st:AxdType_Int64" />
      <xs:element minOccurs="1" name="EmployeeId" type="st:AxdExtType_Integer" />
      <xs:element minOccurs="0" name="EndCardTime" nillable="true" type="st:AxdType_DateTime" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="ShiftDate" nillable="true" type="xs:date" />
      <xs:element minOccurs="0" name="ShiftID" nillable="true" type="st:AxdExtType_Integer" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="st:AxdEnum_AttendanceStatus" />
      <xs:element minOccurs="0" name="StatusReason" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="TotalLateWorkingMin" nillable="true" type="st:AxdExtType_Integer" />
      <xs:element minOccurs="0" name="TotalWorkingMin" nillable="true" type="st:AxdExtType_Integer" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>